<!--UWI: 813117991 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Edit Success</title>
<style type="text/css">
    span {
        display: inline-block;
        width: 200px;
        text-align: left;
    }
</style>
</head>
<body>
<div align="center">
    <h2>Employee Successfully Edited!</h2>
    <span>Employee ID:</span><span th:text="${employee.id}"></span><br/>
    <span>First name:</span><span th:text="${employee.fname}"></span><br/>
    <span>Last name:</span><span th:text="${employee.lname}"></span><br/>
    <span>NIS number:</span><span th:text="${employee.nis_num}"></span><br/>
    <span>Week 1:</span><span th:text="${#numbers.formatCurrency(employee.Week1)}"></span><br/>
    <span>Week 2:</span><span th:text="${#numbers.formatCurrency(employee.Week2)}"></span><br/>
    <span>Week 3:</span><span th:text="${#numbers.formatCurrency(employee.Week3)}"></span><br/>
    <span>Week 4:</span><span th:text="${#numbers.formatCurrency(employee.Week4)}"></span><br/>
    <span>Week 5:</span><span th:text="${#numbers.formatCurrency(employee.Week5)}"></span><br/>
    <br>
    <br>
    <a href="/homepage">Click here to return to home page</a>
</div>
</body>
</html>