<!--UWI: 813117991 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Edit Employee Information</title>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
  
}

th{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  text-align: left;
  background-color:#C8C8C8;
}

</style>
</head>
<body>
	<div align="center">
		<h1>Employee to be Edited</h1>

		<a href="/register">Register New Employee</a>
		<hr/>
		<br>
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>Employee ID</th>
					<th>Employee First Name</th>
					<th>Employee Last Name</th>
					<th>NIS number</th>
					<th>Week 1</th>
					<th>Week 2</th>
					<th>Week 3</th>
					<th>Week 4</th>
					<th>Week 5</th>
					<th>Week 1 NIS</th>
					<th>Week 2 NIS</th>
					<th>Week 3 NIS</th>
					<th>Week 4 NIS</th>
					<th>Week 5 NIS</th>
					<th>Week 1 NIS Total</th>
					<th>Week 2 NIS Total</th>
					<th>Week 3 NIS Total</th>
					<th>Week 4 NIS Total</th>
					<th>Week 5 NIS Total</th>
					<th>Created Date</th>
					<th>Updated Date</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="listep : ${listemployee}">
					<td th:text="${listep.id}">Employee ID</td>
					<td th:text="${listep.fname}">First Name</td>
					<td th:text="${listep.lname}">Last Name</td>
					<td th:text="${listep.nis_num}">NIS number</td>
					<td th:text="${listep.Week1}">Week 1</td>
					<td th:text="${listep.Week2}">Week 2</td>
					<td th:text="${listep.Week3}">Week 3</td>
					<td th:text="${listep.Week4}">Week 4</td>
					<td th:text="${listep.Week5}">Week 5</td>
					<td th:text="${#numbers.formatCurrency(listep.Week1Nis)}">Week 1 NIS</td>
					<td th:text="${#numbers.formatCurrency(listep.Week2Nis)}">Week 2 NIS</td>
					<td th:text="${#numbers.formatCurrency(listep.Week3Nis)}">Week 3 NIS</td>
					<td th:text="${#numbers.formatCurrency(listep.Week4Nis)}">Week 4 NIS</td>
					<td th:text="${#numbers.formatCurrency(listep.Week5Nis)}">Week 5 NIS</td>
					<td th:text="${#numbers.formatCurrency(listep.Week1NisTotal)}">Week 1 NIS Total</td>
					<td th:text="${#numbers.formatCurrency(listep.Week2NisTotal)}">Week 2 NIS Total</td>
					<td th:text="${#numbers.formatCurrency(listep.Week3NisTotal)}">Week 3 NIS Total</td>
					<td th:text="${#numbers.formatCurrency(listep.Week4NisTotal)}">Week 4 NIS Total</td>
					<td th:text="${#numbers.formatCurrency(listep.Week5NisTotal)}">Week 5 NIS Total</td>
					<td th:text="${listep.createdAt}">Created at</td>
					<td th:text="${listep.updatedAt}">Update at</td>
					<td>					
						<a th:href="@{'/search/' + ${listep.id}}">Edit</a>
						&nbsp;&nbsp;&nbsp;
					</td>
				</tr>
			</tbody>
		</table>
		<br>
		<br>
		<a th:href="@{'/search/' + ${listemployee.id}}">EDIT EMPLOYEE</a>
		<br>
		<br>
		<br>
		<a href="javascript:history.back()">Back to previous page</a>
		<br>
		<br>
		<a href="/homepage">Click here to return to home page</a>
	</div>
</body>
</html>